html, body{
    background-color: rgb(249, 244, 246);
}

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
    color: #003366;
}

.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.menu-opcoes{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

#imglogo{
    width: 8%;
    height: auto;
    border-radius: 50%;
}

#imglupa{
    width: 5%;
    height: auto;
    border-radius: 50%;
}

.busca, 
.menu-conteudo{
    background-color: rgb(58, 17, 27);
    font-weight: bold;/*negrito*/
    text-transform: uppercase;/*minusculo*/
    width: 35%;
    margin-right: 10px;
    float: left;
}

.busca h2,
.busca form,
.menu-conteudo h2{
    margin: 10px;
}

.menu-conteudo li{
    background-color: rgb(249, 244, 246);
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-conteudo a{
    color: rgb(58, 17, 27);
}

.menu-conteudo{
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca input{
    vertical-align: middle;
}

.destaque{
    margin-top: 10px;
}

.busca input[type=search]{
    width: 170px;
}

.menu-conteudo li ul{
    /*vai esconder o elemento*/
    display: none;
}

.menu-conteudo li:hover ul{
    display: block;
}

.menu-conteudo ul ul li{
    background-color:  rgb(230, 214, 220);
}

.menu-conteudo li li a:before{
    content: '<';
}

.menu-conteudo li li a:after{
    content: '>';
}

.busca{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.button-busca{
    border: 2px solid rgb(58, 17, 27);
    border-radius: 6px;
    box-shadow: -3px 4px 0 grey;
}

.button-menu{
    border: 2px solid rgb(58, 17, 27);
    border-radius: 6px;
    box-shadow: -3px 4px 0 grey;
}

.busca h2{
    color: rgb(249, 244, 246);
}

.menu-conteudo h2{
    color: rgb(249, 244, 246);
}

#imglogo{
    width: 8%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgb(58, 17, 27);
}
