body{
    font-family: 'Sedgwick Ave', cursive;
}

#esquerdo{
    background-color: tomato;
    float: left;
    width: 49%;
    height: 500px;
}

#esquerdo h1{
    color: yellow;
    text-align: center;

}

#direito{
    float: right;
    width: 49%;
    height: 500px;
}

#direito img{
    width: 200px;
    height: auto;
}

footer p{
    text-align: center;
}

table th, td{
    border-bottom: solid black;
}
